@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');
      body{
        background-color: rgba(1, 114, 16, 0.788);
      }
      #container{
        width: 800px;
        margin: 0 auto; /* 화면 가운데 배치*/
        border: 2px solid #00f;
        padding: 20px;
      }
      header{
        background-color: azure;
      }
      .accent{
        color: #00f;
      }
      #menu{
        font-family: "Asta Sans", sans-serif;
      }
      nav li{
        background-color: rgb(80, 80, 60);
        /* margin-bottom: 5px; */
        display: inline-block;
        padding: 10px;
        margin: 30px 20px;
        width: 100px;
        height: 22px;
        text-align: center;
        border-radius: 20px;
      }
      nav a{
        text-decoration: none;
        color: #fff;
      }
      main{
        background-color: yellow;
        padding: 10px; /* 안여백 지정 */
    }
    main .float{
      background-color: bisque;
      /* height: 10px; */
      padding: 10px;
      text-align: center;
      /* float으로 떠있어서 적용이 안됨 */
      /* 자신의 크기가 있을 때 넘친 자식은 보여주지 않음 */
      /* 자식이 float으로 넘쳤을 때 영역을 인정, 단 크기가 정해지지 않았을 때*/
       overflow: hidden;
    }
    main ul li{
      float: left;
      list-style: none;
      padding: 5px 40px;
      /* margin: 5px 40px; */
      border: 1px solid #ccc;
      }
      main li:hover{ /* 롤오버 효과 : 마우스를 올리면 */
        background-color: #000;
        color: #fff;
        border-radius: 20px;
      }
      main ol{
        background-color: aquamarine;
        overflow: hidden;
        padding: 10px;
      }
      main ol li{
        float: left;
        list-style: none;
        border: 1px solid #ccc;
        padding: 10px;
      }
    main .float .right{
        float: right;
      }
    main ol{
      /* list-style-position: inside; */
      text-align: center;
    }
    .right{
      float: right;
    }
    figure img{
      display: block;
    }
    table{
      border: 4px solid gray;
      border-collapse: collapse;
      width: 60%;
    }
    th, td{
      border: 1px solid gray;
      padding: 5px;
    }
      tbody{text-align: center;/*글자 가운데 정렬*/ background-color: white;}
      thead{text-align: center;/*글자 가운데 정렬*/ background-color: pink;}
      tfoot{background-color: grey; text-align: center;}
      #hylink{
        border: 2px solid #aaa;
        padding: 10px;
        text-align: center;
      }
      #hylink h3{
        text-align: left;
      }
      aside{
        background-color: green;
      }
      #hylink a{
        margin: 10px 40px;
        display: inline-block;
      }
      footer{
        font-family: "Asta Sans", sans-serif;
        background-color: blue;
        color: white;
      }
      #top{
        width: 50px;
        height: 50px;
        background-color: #f00;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        position: fixed;
        right: 50px;
        bottom: 30px;
      }
      #top a{
        text-decoration: none;
        color: #fff;
      }