#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-color: rgb(255, 116, 139);
  overflow: hidden;
}
header img{
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}
nav{
  float: right;
  width: 500px;
  padding: 10px;
}
nav li{
  float: left;
  list-style: none;
  padding: 10px;
}
nav li:hover a{
  background-color: beige;
  border-radius: 20px;
  color: black;
}
nav li a:active{
  background-color: #f00;
}
nav li a:focus{
  background-color: rgb(228, 228, 107);
  border-radius: 30px;
  outline: 1px solid #ccc;
}
nav a{
  color: #fff;
  text-decoration: none;  
  font-weight: bold;
  padding: 10px;
}
/* 메인영역 */
main{
  width: 800px;
  float: left;
}
section h1{
  background: url(../img/레드향.jpg) no-repeat left center;
  background-size: 36px 36px;
  padding-left: 50px;
}
section h1::after{
  content: "!마감임박!"; /* 긴급같은 가상요소 사용할때는 무조건 content 넣기 */
  font-size: 14px;
  background: #f00;
  color: #fff;
  position: relative;
  top: -5px;
  margin-left: 10px;
}
::selection{
  background: #000;
  color: #ff0;
}
article{
  width: 368px;
  height: 218px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  float: left;
}
article p{
  text-align: justify;
}
article p::first-line{
  color: #f00;
}
article p::first-letter{
  font-size: 20px;
  background-color: #ff0;
}
/* 어사이드 영역 */
aside{
  width: 180px;
  float: right;
  margin-top: 96px;
}
aside img{
  width: 180px;
  height: 160px;
}
/* 푸터영역 */
footer{
  background-color: blue;
  clear: both;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
footer p{
  margin-top: 0;
}