#container{
    width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
}
header{
    background-color: rgb(243, 36, 157);
    color: #fff;
    overflow: hidden;
    padding: 20px
}
nav{
    float: right;
    padding: 10px 20px;
    margin-top: -80px;
}
nav li{
    float: left;
    margin: 0 20px;
    padding-left: -10px;
    list-style: none;
}
nav a{
    color: #fff;
    font-size: larger;
    text-decoration: none;
}
main{
    float: left;
    width: 995px;
    border:3px solid #ccc;
}
#aaa{
    float: left;
    padding: 40px;
    padding-right: 200px;
}
#aaa li{
    list-style-type: square;
    line-height: 1.6em;
}
#bbb{
    float: left;
    padding: 40px;
}
#bbb li{
    /* font-size: larger; */
    list-style-type: lower-alpha;
    line-height: 1.6em;
}
#ccc{
    float: right;
    padding: 40px;
    line-height: 1.6em;
}
#ddd{
    float: left;
    padding: 15px;
    text-align: left;
}
#ddd li{
    font-size: large;
}
img{
    padding: 6px;
    display: block;
    margin: 630px;
    margin-top: -220px;
    margin-bottom: 10px;
}
footer{
    clear: both;
    text-align: center;
    background-color: rgb(60, 60, 197);
    margin: 0px auto;
    color: #fff;
    font-weight: bold;
    padding: 20px 10px;
    width: 980px;
    margin-top: 10px;
    font-size: larger;
}