#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    background-color: rgb(44, 65, 185);
    overflow: hidden;
    color: #fff;
    font-size: larger;
    padding: 6px;
}
nav{
    float: right;
    padding: 10px 0px;
    margin: 0 auto;
    margin-top: -100px;
}
nav li{
    float: left;
    list-style: none;
    padding: 10px 30px;
    /* margin: 0 auto; */
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
main{
    border: 7px solid rgb(50, 203, 230);
    float: left;
    width: 987px;
}
#one{
    margin-top: 25px;
    float: left;
    margin-bottom: 50px;
    height: 350px;
    font-size: larger;
}
#one li{
    list-style-type: square;
}
#two{
    float: left;
    margin-bottom: 50px;
    height: 350px;
    font-size: larger;
}
#two li{
    list-style-type: upper-roman;
}
section h2{
    padding: 20px;
}
section li{
    line-height: 70px;
}
 img{
    float: right;
    margin: 0 auto;
    margin-top: 60px;
    margin-right: 15px;
    margin-bottom: 20px;
 }
 footer{
    clear: both;
    background-color: rgb(45, 63, 226);
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    font-size: larger;
    border-top: 7px solid rgb(55, 98, 350);
    font-weight: bold;
    margin: 0 auto;
 }