table{
      border: 1px solid #ccc;
      border-collapse: collapse;
      width: 70%;
      margin: 0 auto;
    }
    table h3{
      text-align: center;
    }
    th, td{
      border: 1px solid #ccc;
      padding: 5px;
      text-align: center;
    }
    tr:first-child{
      background: #ccc;
    }
    caption{
      font-size: 20px;
      font-weight: bold;
    }