table{
    border-collapse: collapse;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    }
    tr:first-child{
      background: #62c970;
    }
    caption{
      font-size: 30px;
      font-weight: bold;
    }
    th, td{
      padding: 15px;
    }