#container{
  width: 1000px;
  margin: 0 auto;
  /* border: 3px solid blue; */
}
header{
  background-color: rgb(43, 80, 204);
  overflow: hidden;
}
header img{
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}
header ul{
  float: right;
  /* width: 500px; */
  /* height:50px; */
  padding: 30px;
}
header li{
  float: left;
  margin: 10x 20px;
  list-style: none;
  margin-right: 50px;
}
header li:nth-child(2n){
  background-color: #f00;
}
header li:nth-child(2n+1){
  background-color: rgb(47, 51, 49);
}
header li:first-child{
  box-shadow: 2px 2px 3px #fff;
}
header li:last-child{
  box-shadow: 3px 3px 5px #fff;
}
header a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
main{
  border: 4px solid rgb(128, 213, 235);
  /* float: left; */
}
section h2 {
  padding: 10px;
}
section ul{
  text-align: center;
  list-style: none;
}
section li {
  display: inline;
  padding: 30px;
}
section a {
  text-decoration: none;
}
section li{
  text-decoration: none;
  font-weight: bold;
  color: #f00;
}
section ul{
  text-align: center;
  background-color: bisque;
}
section a:hover{
  color: blue;
}
section:has(a:hover) a:not(:hover){
  opacity: 0.5;
}
#a:target,
#b:target,
#c:target{
  background-color: yellowgreen;
}
article{
  border: 1px dotted pink;
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}
figure{
  text-align: center;
}
#lll:hover{
  transform: translateX(100);
}
img{
  width: 200px;
  height: 200px;
  margin: 10px;
}
#dog{
  /* float: left; */
  background-color: pink;
  /* width: 100%; */
  /* height: 200px; */
  margin : 10px;
}
footer{
  clear: both;
  background-color: rgb(80, 80, 206);
  text-align: center;
  margin-bottom: 10px;
}
footer p{
  margin-top: 0;
}
.top{
        width: 70px;
        height: 70px;
        background-color: #f00;
        border-radius: 100%;
        text-align: center;
        /* line-height: 50px; */
        position: fixed;
        right: 20px;
        bottom: 30px;
        /* overflow: hidden; */
      }
      .top a{
        text-decoration: none;
        color: #fff;
      }