*{
    box-sizing: border-box;
    font-family: "맑은 고딕";
}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    text-align: center;
}
nav{
    background: #000;
    overflow: hidden;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    float: left;
    list-style: none;
}
nav li:last-child{
    float: right;
}
nav a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}
nav a:hover{
    background: yellow;
    color: black;
}
aside{
    float: left;
    width: 200px;
    height: 500px;
    text-align: center;
    background: #ddd;
    font-size: 20px;
}
section{
    margin: 0 auto;
    width: 600px;
    height: 500px;
    padding: 10px;
    float: left;
    text-align: center;
}
form{
    width: 500px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 10px;
}
form fieldset{
    border: none;
}
form legend{
    font-weight: bold;
    font-size: 20px;
}
form li{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    list-style: none;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
form label{
    width: 130px;
    display: inline-block;
    font-weight: bold;
}
form input{
    width: 250px;
    padding: 3px;
    border: 2px solid #ccc;
}
button{
    width: 150px;
    border: none;
    border-radius: 30px;
    background: #fef;
    padding: 20px;
}
footer{
    clear: both;
    background: #aaa;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}