/* *{
  box-sizing: border-box;
  font-family: "맑은 고딕";
}
#container{
  width: 1000px;
  margin: 0 auto
}
header{
  text-align: center;
} */
nav{
  /* background-color: black; */
  overflow: hidden;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{
  /* float: left; */
  list-style: none;
}
/* nav li:last-child{
  float: right;
} */
nav a{
  /* color: #fff;
  text-decoration: none;
  padding: 10px; */
  display: block;
}
/* nav a:hover{
  background-color: yellow;
  color: #000;
} */
/* aside{
  float: left;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: #e6e3e3;
} */
/* section{
  margin: 0 auto;
  width: 600px;
  height: 500px;
  padding: 20px;
  float: left;
} */
form{
  width: 500px;
  background-color: #ddd;
  margin: 0 auto;
  padding: 10px;
}
fieldset{
  border: none;
}
form li{
  padding: 5px;
  border: 1px solid #fff;
  list-style: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin: 5px;  
}
form legend{
  font-weight: bold;
  font-size: 20px;
}
form label{
  width: 130px;
  display: inline-block;
}
title label{
  font-size: 20px;
  font-weight: bold;
}
form input{
  width: 250px;
  padding: 3px;
  border: 2px solid gray;
}
button{
  border: none;
  border-radius: 30px;
  width: 150px;
  background-color: #fef;
  padding: 15px;
  font-weight: bold;
}
footer{
  background-color: beige;
  clear: both;
  text-align: center;
  padding: 20px;
  font-size: large;
}